// Colors
$gray: #f7f7f7;
$gray-100: rgb(197, 197, 197);
$gray-900: #696969;
$black: #37383d;
$white: #fff;
$white-400: #f3f3f3;
$dark: #394d5c;
$blue: #4ca9e0;
$yellow: #fedd64;
$yellow-200: #fcea93;
$green: #43b14b;
$orange: orange;

// Linear-gradient colors
$linear-color: linear-gradient(to right, #5fb0dc, #e0e6ec);
$glassy-color: linear-gradient(to right, #d7e0e9a6, #d7e0e9a6);

// Transition for llinks and buttons
$link-transition: all .3s ease;

// Boxshadow
$header-shadow: 0px 2px 3px 1px rgba(0,0,0,0.16);
$boxshadow: 0px 0px 8px -4px rgba(0,0,0,0.75);

// Media quireies breakpoints
$medium-screen: 991.98px;
$small-screen: 767.98px;
$extra-small-screen: 575.98px;
$small-phone: 341.98px;


