#aboutapp-main-content{
  background: linear-gradient(#9adbfd, #53abed);
  @include page-height;

  .progress-bar{
    width: 50%;
  }

  // Styling for main content
  .main-content{
    @include main-content-padding;

    .counseling{
      text-align: center;
      margin-bottom: 1.4em;
    }

    .clinets-container{
      padding-top: 2em;
      padding-bottom: 1em;

      .clients{
        @include flex-end;
        margin-bottom: 1.4em;
        .about-client{
          text-align: right;
          margin-right: 1em;
          p{
            margin: 0;
          }
        }
        .client-profile{
          @include flex-column-center;
          .img-container{
            width: 76px;
            height: 76px;
            border-radius: 50%;
            overflow: hidden;
            img{
              max-width: 100%;
              height: auto;
            }
          }
          p{
            margin: 0;
          }
        }
      }

    }

    .btn-container{
      display: flex;
      padding-top: 2em;
      button{
        width: 100%;
      }
    }

  }

}

// Media Queries
@media (max-width: 767.98px) {
  #aboutapp-main-content{
    .main-content .clinets-container .clients{
      justify-content: center;
    }
  }
}