#confirm-content{
  background: $white-400;
  @include page-height;

  // Styling for Main Content
  .main-content{
    @include main-content-padding;

    .content-container{
      border: 1px solid $dark;
      padding-top: 1em;
      padding-bottom: 1em;
      .texts-wrapper{
        width: 40%;
        margin: auto;
        color: $dark;
        p{
          text-align: center;
        }
      }
      .link-text{
        text-align: center;
        color: $dark;
        margin-bottom: 0;
        a{
          @include link-transition;
          &:hover{
            color: $blue;
          }
        }
      }
    }

  }

}

@media (max-width: 991.98px){
  #confirm-content{
    .main-content .content-container .texts-wrapper{
      width: 60%;
    }
  }
}

@media (max-width: 767.98px){
  #confirm-content{
    .main-content .content-container .texts-wrapper{
      width: 80%;
    }
  }
}

@media (max-width: 575.98px) {
  #confirm-content{
    .main-content .content-container .texts-wrapper{
      width: 100%;
    }
  }
}