#enrollment-page{
  background: $white-400;
  @include page-height;

  .main-content{

    .enrollment-desc{
      text-align: center;
      h2{
        font-weight: 500;
        color: $black;
      }
      p{
        font-size: 1.25rem;
        @media (max-width:$small-screen) {
          font-size: 1rem;
        }
        font-weight: 500;
        color: $dark;
        margin: 0;
      }
      .hr-line{
        margin: 1.5em auto;
        border-top: 1.5px solid $dark;
      }
    }
    
  }

}

.testimonial-container{
  padding-top: 3em;
  padding-bottom: 2em;

  .testimonial-content{
    position: relative;
    padding: 1em;
    background-color: $white;
    border-radius: 4px;
    margin-top: 1.4em;
    color: $dark;
    &::after{
      content: '';
      position: absolute;
      top: 100%;
      left: 9px;
      border-width: 12px;
      border-style: solid;
      border-color: $white transparent transparent transparent;
    }
  }

  .testimonial-user{
    margin-top: 1.4em;
    @include flex-vertical-center;
    .user-image{
      width: 45px;
      height: 45px;
      margin-right: .75em;
      overflow: hidden;
      img{
        border-radius: 50%;
        border: 2px solid $white;
      }
    }

    .user-name{
      color: $black;
    }

  }

}

