#mobile-app-page{

  .main-content{
    .hero-container{
      text-align: center;
      padding-bottom: 3em;
      color: $dark;
      @media (max-width: $small-screen) {
        padding-bottom: 1em;
      }
      .sub-title{
        font-size: 1.438rem;
        font-weight: 600;
        @media (max-width: $medium-screen){
          font-size: 1.25rem;
        }
        @media (max-width: $extra-small-screen){
          font-size: 1.1rem;
        }
      }
    }
  }
}

.step-wrapper{
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 2em;

  .step{
    display: flex;
    justify-content: space-between;

    .step-text-wrapper{
      width: 44%;
      color: $dark;
      .step-level{
        position: relative;
        margin-bottom: 1.2em;
        &::after{
          content: '';
          position: absolute;
          top: 50%;
          left: 15px;
          width: 140px;
          height: 1px;
          background-color: $blue;
        }
      }
      .step-heading{
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: .75em;
      }
    }

    .step-image-wrapper{
      width: 38%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      .image-container{
        position: absolute;
        top: -3.3em;
        right: 4.5em;
        width: 400px;
        height: auto;
        border: 26px solid rgb(239, 247, 251);
        border-radius: 6px;
        box-shadow: $card-shadow;
        z-index: 8;
        img{
          width: 100%;
          height: auto;
        }
      }
      .second-image-wrapper{
        left: 4.4em;
      }
      .box-container{
        width: 362px;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(46deg, rgb(38, 144, 218) 0%, rgb(54, 216, 222) 100%);
        background-size: auto;
        background-position: 0px 0px;
        background-attachment: scroll;
        background-repeat: no-repeat;
        .place-holder{
          width: 310px;
          height: 228px;
          background: $white-400;
        }
      }
    }

    .second-step-image-wrapper{
      justify-content: flex-start;
    }

  }

}

@media (max-width: 1071.98px) {
  .step-wrapper .step .step-image-wrapper{
    width: 40%;

    .image-container{
      right: 5em;
    }
    .second-image-wrapper{
      left: 5em;
    }

  }
}

@media (max-width: $medium-screen) {
  .step-wrapper .step{

    .step-text-wrapper{
      width: 50%;
    }

    .step-image-wrapper{
      width: 46%;

      .image-container{
        left: -1em;
        width: 360px;
      }
      .second-image-wrapper{
        left: auto;
        right: -1em;
      }
  
      .box-container{
        width: 320px;
        height: 250px;
        .place-holder{
          width: 268px;
          height: 198px;
        }
      }
    }

  }
}

@media (max-width: 890.98px) {
  .step-wrapper .step .step-image-wrapper{

    .image-container{
      left: 0;
      width: 300px;
    }
    .second-image-wrapper{
      left: auto;
      right: 0;
    }

    .box-container{
      width: 280px;
      height: 230px;
      .place-holder{
        width: 228px;
        height: 178px;
      }
    }

  }
}

@media (max-width: $small-screen){
  .step-wrapper{
    padding-top: 0;
    padding-bottom: 0;
    .step{
      flex-direction: column;

      .step-text-wrapper{
        order: 1;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
      }

      .step-image-wrapper{
        order: 2;
        width: 100%;
        padding-top: 2em;

        .image-container{
          top: -1em;
          left: auto;
          right: 5em;
          width: 400px;
        }

        .second-image-wrapper{
          left: 5em;
          right: auto;
        }
    
        .box-container{
          width: 350px;
          height: 300px;
          .place-holder{
            width: 298px;
            height: 248px;
          }
        }

      }

    }
  }
}

@media (max-width: $extra-small-screen){
  .step-wrapper .step .step-image-wrapper{
    .image-container{
      right: 4em;
      border-width: 20px;
      width: 320px;
    }

    .second-image-wrapper{
      left: 4em;
    }

    .box-container{
      width: 300px;
      height: 220px;
      .place-holder{
        width: 260px;
        height: 180px;
      }
    }
  }
}

@media (max-width: 464.98px) {
  .step-wrapper .step .step-image-wrapper{
    .image-container{
      right: 3em;
      border-width: 12px;
      width: 260px;
    }

    .second-image-wrapper{
      left: 3em;
    }

    .box-container{
      width: 220px;
      height: 170px;
      .place-holder{
        width: 196px;
        height: 146px;
      }
    }
  }
}

@media (max-width: $small-phone) {
  .step-wrapper .step .step-image-wrapper{
    .image-container{
      right: 2.6em;
      width: 240px;
    }

    .second-image-wrapper{
      left: 2.6em;
    }

    .box-container{
      height: 160px;
      .place-holder{
        height: 136px;
      }
    }
  }
}