#resources-main-content{
  background: $white-400;
  @include page-height;
  color: $dark;

  .blue-header{
    background-color: $blue;
    padding-top: .5em;
    padding-bottom: .5em;
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.16);
  }

  // Styling for Main Content
  .main-content{
    @include main-content-padding;

    .resource-container{

      h2{
        font-weight: 400;
        color: $black;
      }

      .resource-content{
        margin-top: 2em;
        margin-bottom: 2em;
        p{
          font-size: 1.25rem;
          margin: 0;
          .underline-link{
            @include link-transition;
            &:hover{
              color: $blue;
            }
          }
        }
        .resource-links-list{
          padding: 0 1em;
          margin: 1em;
          li{
            list-style-type: disc;
            a{
              font-size: 1.25rem;
              word-break: break-all;
              @include link-transition;
              &:hover{
                color: $blue;
              }
            }
          }
        }
      }

    }
    
  }

}

@media (max-width: 575.98px) {
  #resources-main-content{
    .main-content .resource-container .resource-content{

      p{
        font-size: 1rem;
      }

      .resource-links-list li a{
        font-size: 1rem;
      }

    }
  }
}