#selfcare-page{
  background: $white-400;
  @include page-height;

}

.selfcare-links-wrapper{
  padding-top: 2em;

  .links-container{
    @include flex-between;
    padding: 1em;
    border-top: 1px solid $black;
    @media (max-width: $small-screen) {
      padding: 1em 0;
    }
    @media (max-width: $extra-small-screen) {
      flex-direction: column;
      padding: 2em 3em;
    }

    .links-list{
      margin: 0 1em;
      width: 100%;

      @media (max-width: $small-screen) {
        margin: 0 .5em;
      }

      @media (max-width: $extra-small-screen) {
        margin: 0;
        &:nth-child(2){
          margin: 1em 0;
        }
      }

      .links{
        display: block;
        background-color: $green;
        border: 1.5px solid transparent;
        text-align: center;
        font-size: 1.4rem;
        color: $white;
        font-weight: 400;
        padding: .4em 1em;
        transition: $link-transition;

        @media (max-width: $small-screen) {
          font-size: 1.2rem;
          padding: .3em .5em;
        }

        &:hover{
          color: $green;
          border-color: $green;
          background-color: transparent;
        }
      }

    }
  }

  .link-wrapper{
    padding-top: 2em;
    h5{
      color: $black;
    }
    span a{
      color: $black;
      transition: $link-transition;
      &:hover{
        color: $blue;
      }
    }
  }

}