#selfcare-activities-page{
  background: $white-400;
  @include page-height;

}

.cards-wrapper{
  padding-top: 2em;

  .cards-container{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    grid-auto-rows: auto;
  }

  .link-wrapper{
    padding-top: 2em;
    h5{
      color: $black;
    }
    span a{
      color: $black;
      transition: $link-transition;
      &:hover{
        color: $blue;
      }
    }
  }

}