@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
}

hr {
  background-color: #37383d;
  opacity: 1;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.underline-link {
  text-decoration: underline;
}

.white-text {
  color: #fff;
}

.black-text {
  color: #37383d;
}

.dark-text {
  color: #394d5c;
}

.title-desc {
  font-size: 1.25rem;
}

.main-content {
  padding-top: 2em;
  padding-bottom: 4em;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  .title-desc {
    font-size: 1.125rem;
  }
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1rem;
  }
  .title-desc {
    font-size: 1rem;
  }
}

@media (max-width: 341.98px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: .9rem;
  }
}

.header {
  background-color: transparent;
  padding: 0;
}

.header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-content .logo h4 {
  margin-bottom: 0;
}

.header .header-content .login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-content .login-container .counseling .direct-counseling {
  display: block;
  background-image: url("./../images/menubg.png");
  background-repeat: round;
  background-position: left;
  color: #fff;
  padding: 17px;
  margin: 0;
  margin-top: 7px;
  padding-top: 6px;
}

@media (max-width: 575.98px) {
  .header .header-content .login-container .counseling .direct-counseling {
    font-size: .9rem;
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4ca9e0;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.16);
  z-index: 99;
}

.footer {
  padding: 2em 0 1em 0;
  background-color: #696969;
  margin-top: auto;
}

.footer .logo-container {
  margin-bottom: 1em;
}

.footer .logo-container .logo {
  max-width: 93px;
  height: auto;
  height: auto;
  margin-bottom: 1em;
}

@media (max-width: 767.98px) {
  .footer .logo-container .logo {
    width: 80px;
  }
}

@media (max-width: 575.98px) {
  .footer .logo-container .logo {
    width: 70px;
  }
}

.footer .logo-container p {
  color: #c5c5c5;
}

.footer .links-container {
  margin-bottom: 1em;
}

.footer .links-container .condition-links {
  width: 62%;
  margin: auto;
  padding-left: 1em;
}

@media (max-width: 991.98px) {
  .footer .links-container .condition-links {
    width: 100%;
    margin-left: -1em;
  }
}

@media (max-width: 767.98px) {
  .footer .links-container .condition-links {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer .links-container .footer-links-list li {
  margin-bottom: .5em;
}

.footer .links-container .footer-links-list li a {
  display: block;
  color: #c5c5c5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .links-container .footer-links-list li a:hover {
  color: #fff;
}

.footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1em;
}

@media (max-width: 767.98px) {
  .footer .social-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer .social-links .social-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social-links .social-links-list li {
  margin-left: .4em;
}

@media (max-width: 767.98px) {
  .footer .social-links .social-links-list li {
    margin-left: 0;
    margin-right: .4em;
  }
  .footer .social-links .social-links-list li:last-child {
    margin-right: 0;
  }
}

.footer .social-links .social-links-list li a {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.2;
  padding: 0 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .social-links .social-links-list li a:hover {
  color: #4ca9e0;
}

.footer .copyrights {
  text-align: center;
  padding-top: 1em;
  border-top: 1px solid #c5c5c5;
}

.footer .copyrights p {
  font-size: .9rem;
  margin: 0;
}

@media (max-width: 767.98px) {
  .footer .copyrights p {
    font-size: .8rem;
  }
}

.footer .copyrights p:first-child {
  margin-bottom: .5em;
}

.footer .copyrights p .additionl-resource a {
  color: #fff;
}

.blue-header {
  background-color: #4ca9e0;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.16);
}

.progress-bar {
  padding: 2px;
  border-radius: 30px;
  background: rgba(167, 165, 165, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar .progress {
  height: 8px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.05)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
  width: 20%;
  background-color: #43b14b;
  -webkit-animation: progressAnimation 4s;
          animation: progressAnimation 4s;
}

@media (max-width: 767.98px) {
  .progress-bar .progress {
    height: 6px;
  }
}

@-webkit-keyframes progressAnimation {
  0% {
    width: 0%;
    background-color: #9acf86;
  }
  100% {
    width: 20%;
    background-color: #43b14b;
  }
}

@keyframes progressAnimation {
  0% {
    width: 0%;
    background-color: #9acf86;
  }
  100% {
    width: 20%;
    background-color: #43b14b;
  }
}

.return-link-container {
  position: relative;
  padding-top: .5em;
  padding-bottom: .5em;
  min-height: 54px;
}

@media (max-width: 767.98px) {
  .return-link-container {
    padding: .5em 3.5em;
  }
}

.return-link-container .return-link {
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 1.4rem;
  padding: 2px 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-link-container .return-link:hover {
  color: #4ca9e0;
}

.return-link-container .sub-title {
  text-align: center;
  margin: 0;
}

.linear-btn-container {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.linear-btn-container .linear-btn {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#d7e0e9a6), to(#d7e0e9a6));
  background: linear-gradient(to right, #d7e0e9a6, #d7e0e9a6);
  padding: 4px 40px;
  border-radius: 25px;
  font-size: 1.25rem;
  color: #fff;
}

.linear-btn-container .blue-btn {
  background: #4ca9e0;
}

.linear-btn-container .yellow-btn {
  background: #fcea93;
  color: #37383d;
}

.form-field {
  width: 100%;
}

.form-group {
  width: 80%;
  margin: auto;
}

@media (max-width: 767.98px) {
  .form-group {
    width: 100%;
  }
}

.form-group .user-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 475.98px) {
  .form-group .user-name-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-group .user-name-wrapper .input-group {
  width: 50%;
  margin-bottom: 1em;
  font-size: 1.125rem;
  color: #394d5c;
}

@media (max-width: 475.98px) {
  .form-group .user-name-wrapper .input-group {
    width: 100%;
  }
}

.form-group .user-name-wrapper .input-group .input-group-text {
  font-size: 1.4rem;
  color: #4ca9e0;
}

.form-group .user-name-wrapper .input-group .credit-card {
  font-size: 1.25rem;
}

.form-group .user-name-wrapper .input-group input {
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 6px 12px;
}

.form-group .user-name-wrapper .input-group #first-name,
.form-group .user-name-wrapper .input-group #card-number {
  width: calc(100% - 50px);
  border-radius: 0 4px 4px 0;
}

@media (max-width: 475.98px) {
  .form-group .user-name-wrapper .input-group #first-name,
  .form-group .user-name-wrapper .input-group #card-number {
    width: calc(100% - 48px);
  }
}

.form-text {
  font-size: 1.125rem;
  color: #394d5c;
}

@media (max-width: 767.98px) {
  .form-text {
    font-size: 1rem;
  }
}

.inputs-contianer {
  border: 1px solid #394d5c;
  padding: 1em 2em 2.5em 2em;
}

@media (max-width: 767.98px) {
  .inputs-contianer {
    padding: 1em;
    padding-bottom: 2.3em;
  }
}

.inputs-contianer:first-child {
  border-bottom: none;
}

.input-group {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.125rem;
}

.input-group .input-group-text {
  font-size: 1.4rem;
  color: #4ca9e0;
}

.input-group .input-group-text .phone-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.input-group input {
  width: calc(100% - 48px);
  border: none;
  outline: none;
  border: 1px solid #ced4da;
  border-radius: 0 4px 4px 0;
  padding: 6px 12px;
}

.input-group .expire-date {
  width: 100%;
}

.textarea-container {
  width: 100%;
}

.textarea-container textarea {
  outline: none;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 12px;
  font-size: 1.125rem;
  margin-bottom: .73em;
}

#home-page {
  background-image: url("./../images/wellness-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

#home-page .main-content .hero-texts-container {
  padding-top: 2em;
  padding-bottom: 2em;
}

#home-page .main-content .hero-texts-container .hero-title {
  font-weight: 400;
}

#home-page .main-content .hero-texts-container .hero-text {
  font-size: 1.4rem;
}

@media (max-width: 575.98px) {
  #home-page .main-content .hero-texts-container .hero-text {
    font-size: 1rem;
  }
}

.btns-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.btns-container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btns-container .list .links-list {
  background-color: transparent;
  display: inline-block;
  width: 280px;
  border: 2px solid #4ca9e0;
  border-radius: 25px;
  padding: 3px;
  margin-bottom: .5em;
}

@media (max-width: 374.98px) {
  .btns-container .list .links-list {
    width: 70%;
  }
}

.btns-container .list .links-list .links {
  display: block;
  padding: 4px 15px;
  background-color: #4ca9e0;
  border-radius: 20px;
  font-size: 1.2rem;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 575.98px) {
  .btns-container .list .links-list .links {
    font-size: 1rem;
    padding: 3px 15px;
  }
}

.btns-container .list .links-list .links:hover {
  padding-left: 24px;
}

.btns-container .list .links-list .links .icon {
  color: #fedd64;
  font-size: 1.4rem;
}

@media (max-width: 575.98px) {
  .btns-container .list .links-list .links .icon {
    font-size: 1.2rem;
  }
}

#individual-page {
  background-image: url("./../images/wellness-individual.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

#individual-page .return-link-container .return-link:hover {
  color: #37383d;
}

.individual-content .hero-text-container .hero-title {
  font-weight: 400;
}

.individual-content .hero-text-container .hero-text {
  font-size: 1.4rem;
}

@media (max-width: 575.98px) {
  .individual-content .hero-text-container .hero-text {
    font-size: 1rem;
  }
}

.individual-content .checkbox-container {
  padding-top: 2em;
}

.individual-content .checkbox-container .checkbox-lists {
  width: 100%;
  margin-bottom: 2em;
}

.individual-content .checkbox-container .checkbox-lists .checkbox-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#5fb0dc), to(#e0e6ec));
  background: linear-gradient(to right, #5fb0dc, #e0e6ec);
  opacity: .8;
  border-radius: 30px;
  padding: 4px 12px;
  margin-bottom: .5em;
  cursor: pointer;
  overflow-x: hidden;
}

.individual-content .checkbox-container .checkbox-lists .checkbox-links .check-box {
  position: absolute;
  left: 20px;
  top: 0;
  display: block;
  width: calc(100% - 20px);
  height: 38px;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .individual-content .checkbox-container .checkbox-lists .checkbox-links .check-box {
    font-size: 1rem;
  }
}

.individual-content .checkbox-container .checkbox-lists .checkbox-links .check-box:checked .custom-checkbox {
  background: -webkit-gradient(linear, left top, right top, from(#5fb0dc), to(#e0e6ec));
  background: linear-gradient(to right, #5fb0dc, #e0e6ec);
}

.individual-content .checkbox-container .checkbox-lists .checkbox-links .custom-checkbox {
  display: block;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background: #fff;
  margin-right: .5em;
}

.individual-content .checkbox-container .checkbox-lists .checkbox-links p {
  margin: 0;
}

@media (max-width: 575.98px) {
  .individual-content .checkbox-container .checkbox-lists .checkbox-links p {
    font-size: 1rem;
  }
}

.individual-content .checkbox-container .checkbox-lists .checkbox-links .check-box:checked + .custom-checkbox {
  background: -webkit-gradient(linear, left top, right top, from(#5fb0dc), to(#e0e6ec));
  background: linear-gradient(to right, #5fb0dc, #e0e6ec);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(95, 194, 219, 0.719);
          box-shadow: 2px 2px 2px 0px rgba(95, 194, 219, 0.719);
}

.individual-content .checkbox-container p {
  font-size: 1.25rem;
}

@media (max-width: 575.98px) {
  .individual-content .checkbox-container p {
    font-size: 1rem;
  }
}

.individual-content .checkbox-container p span a {
  color: #fff;
  text-decoration: underline;
}

#aboutapp-page {
  background: -webkit-gradient(linear, left top, left bottom, from(#9adbfd), to(#53abed));
  background: linear-gradient(#9adbfd, #53abed);
  width: 100%;
  min-height: 100vh;
}

#aboutapp-page .progress-bar .progress {
  width: 40%;
  -webkit-animation: progressFifty 4s;
          animation: progressFifty 4s;
}

#aboutapp-page .return-link-container .return-link:hover {
  color: #37383d;
}

#aboutapp-page .main-content .counseling {
  text-align: center;
  margin-bottom: 1.4em;
}

.clinets-container {
  padding-top: 2em;
  padding-bottom: 1em;
}

.clinets-container .clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.4em;
}

.clinets-container .clients .about-client {
  text-align: right;
  margin-right: 1em;
}

.clinets-container .clients .about-client p {
  margin: 0;
}

.clinets-container .clients .client-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clinets-container .clients .client-profile .img-container {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  overflow: hidden;
}

.clinets-container .clients .client-profile .img-container img {
  max-width: 100%;
  height: auto;
}

.clinets-container .clients .client-profile p {
  margin: 0;
}

@-webkit-keyframes progressFifty {
  0% {
    width: 20%;
    background-color: #9acf86;
  }
  100% {
    width: 40%;
    background-color: #43b14b;
  }
}

@keyframes progressFifty {
  0% {
    width: 20%;
    background-color: #9acf86;
  }
  100% {
    width: 40%;
    background-color: #43b14b;
  }
}

#schedule-page {
  background: #f3f3f3;
  width: 100%;
  min-height: 100vh;
}

#schedule-page .progress-bar .progress {
  width: 60%;
  -webkit-animation: progressSeventy 4s;
          animation: progressSeventy 4s;
}

#schedule-page .progress-bar .member-progress {
  width: 66%;
  -webkit-animation: sixthySix 4s;
          animation: sixthySix 4s;
}

#scheduling-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767.98px) {
  #scheduling-wrapper .calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: none;
  }
}

#scheduling-wrapper .calendar-container .calendar-flex {
  background-color: #fff;
  border-radius: 6px;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
}

@media (max-width: 767.98px) {
  #scheduling-wrapper .calendar-container .calendar-flex {
    background-color: #c5c5c5;
    border-radius: 6px;
    padding: 1em;
    margin-top: 3em;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

#scheduling-wrapper .calendar-container .calendar-flex .btn-wrapper {
  display: none;
  background-color: #c5c5c5;
  padding-top: 1em;
  border-radius: 0 0 6px 6px;
}

@media (max-width: 767.98px) {
  #scheduling-wrapper .calendar-container .calendar-flex .btn-wrapper {
    display: block;
  }
}

#scheduling-wrapper .calendar-container .calendar-flex .btn-wrapper #close-calendar {
  border: 1.5px solid #4ca9e0;
  border-radius: 6px;
  background-color: #4ca9e0;
  font-size: 1.125rem;
  color: #fff;
  padding: .2em 1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#scheduling-wrapper .calendar-container .calendar-flex .btn-wrapper #close-calendar:hover {
  color: #4ca9e0;
  background-color: transparent;
}

#scheduling-wrapper .calendar-container .calendar-flex .calendar-wrapper {
  color: #394d5c;
}

@media (max-width: 767.98px) {
  #scheduling-wrapper .calendar-container .calendar-flex .calendar-wrapper {
    background-color: #fff;
    border-radius: 6px;
    padding: 1em;
    -webkit-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
  }
}

#scheduling-wrapper .pick-date-wrapper {
  display: none;
  padding-bottom: 2em;
}

@media (max-width: 767.98px) {
  #scheduling-wrapper .pick-date-wrapper {
    display: block;
  }
}

#scheduling-wrapper .pick-date-wrapper #show-calendar {
  border: 1.5px solid #4ca9e0;
  border-radius: 6px;
  background-color: #fff;
  color: #4ca9e0;
  padding: .3em 1em;
}

#scheduling-wrapper .availabelity {
  background-color: #fff;
  border-radius: 6px;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
}

#scheduling-wrapper .availabelity .day-time-wrapper {
  padding: 1em 0;
  border-bottom: 1px solid #c5c5c5;
}

#scheduling-wrapper .availabelity .day-time-wrapper:last-child {
  border-bottom: none;
}

#scheduling-wrapper .availabelity .day-time-wrapper .day-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#scheduling-wrapper .availabelity .day-time-wrapper .day-time .icons-container {
  margin-right: 0.75em;
}

#scheduling-wrapper .availabelity .day-time-wrapper .day-time .icons-container .icon {
  font-size: 1.6rem;
  color: orange;
}

#scheduling-wrapper .availabelity .day-time-wrapper .day-time .time-container h5 {
  margin-bottom: .4px;
}

#scheduling-wrapper .availabelity .day-time-wrapper .day-time .time-container p {
  color: #696969;
  margin: 0;
}

#scheduling-wrapper .availabelity .day-time-wrapper .availablity-times {
  padding: 2em 0 .5em 0;
}

#scheduling-wrapper .availabelity .day-time-wrapper .availablity-times .availablity-btn {
  border: 1.5px solid #4ca9e0;
  border-radius: 6px;
  background-color: #4ca9e0;
  color: #fff;
  width: 124px;
  padding: .4em 1em;
  margin-right: .3em;
  margin-bottom: .5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#scheduling-wrapper .availabelity .day-time-wrapper .availablity-times .availablity-btn:hover {
  background-color: transparent;
  color: #4ca9e0;
}

#scheduling-wrapper .availabelity .shedule-bnt-wrapper {
  padding-top: 2em;
  padding-bottom: 1em;
}

#scheduling-wrapper .availabelity .shedule-bnt-wrapper button {
  border: 1.5px solid #4ca9e0;
  border-radius: 30px;
  background-color: #4ca9e0;
  color: #fff;
  font-size: 1.25rem;
  padding: .3em 1.4em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#scheduling-wrapper .availabelity .shedule-bnt-wrapper button:hover {
  background-color: transparent;
  color: #4ca9e0;
}

#scheduling-wrapper .displa-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes progressSeventy {
  0% {
    width: 40%;
    background-color: #9acf86;
  }
  100% {
    width: 60%;
    background-color: #43b14b;
  }
}

@keyframes progressSeventy {
  0% {
    width: 40%;
    background-color: #9acf86;
  }
  100% {
    width: 60%;
    background-color: #43b14b;
  }
}

@-webkit-keyframes sixthySix {
  0% {
    width: 33%;
    background-color: #9acf86;
  }
  100% {
    width: 66%;
    background-color: #43b14b;
  }
}

@keyframes sixthySix {
  0% {
    width: 33%;
    background-color: #9acf86;
  }
  100% {
    width: 66%;
    background-color: #43b14b;
  }
}

#email-confirm-page {
  background: #f3f3f3;
  width: 100%;
  min-height: 100vh;
}

#email-confirm-page .progress-bar .progress {
  width: 80%;
  -webkit-animation: progressNinty 4s;
          animation: progressNinty 4s;
}

@media (max-width: 767.98px) {
  #email-confirm-page .main-content {
    padding-bottom: 2em;
  }
}

@-webkit-keyframes progressNinty {
  0% {
    width: 60%;
    background-color: #9acf86;
  }
  100% {
    width: 80%;
    background-color: #43b14b;
  }
}

@keyframes progressNinty {
  0% {
    width: 60%;
    background-color: #9acf86;
  }
  100% {
    width: 80%;
    background-color: #43b14b;
  }
}

#confirm-page {
  background: #f3f3f3;
  width: 100%;
  min-height: 100vh;
}

#confirm-page .progress-bar .progress {
  width: 100%;
  -webkit-animation: progressCompleted 3s;
          animation: progressCompleted 3s;
}

#confirm-page .progress-bar .enroll-confirmation {
  -webkit-animation: enrolled 3s;
          animation: enrolled 3s;
}

.content-container {
  border: 1px solid #394d5c;
  padding: 1em .75em;
}

.content-container .texts-wrapper {
  width: 40%;
  margin: auto;
  color: #394d5c;
}

@media (max-width: 991.98px) {
  .content-container .texts-wrapper {
    width: 60%;
  }
}

@media (max-width: 767.98px) {
  .content-container .texts-wrapper {
    width: 80%;
  }
}

@media (max-width: 575.98px) {
  .content-container .texts-wrapper {
    width: 100%;
  }
}

.content-container .texts-wrapper p {
  text-align: center;
}

.content-container .link-text {
  text-align: center;
  color: #394d5c;
  margin-bottom: 0;
}

.content-container .link-text a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-container .link-text a:hover {
  color: #4ca9e0;
}

@-webkit-keyframes progressCompleted {
  0% {
    width: 80%;
    background-color: #9acf86;
  }
  100% {
    width: 100%;
    background-color: #43b14b;
  }
}

@keyframes progressCompleted {
  0% {
    width: 80%;
    background-color: #9acf86;
  }
  100% {
    width: 100%;
    background-color: #43b14b;
  }
}

@-webkit-keyframes enrolled {
  0% {
    width: 66%;
    background-color: #9acf86;
  }
  100% {
    width: 100%;
    background-color: #43b14b;
  }
}

@keyframes enrolled {
  0% {
    width: 66%;
    background-color: #9acf86;
  }
  100% {
    width: 100%;
    background-color: #43b14b;
  }
}

#resources-page {
  background: #f3f3f3;
  width: 100%;
  min-height: 100vh;
  color: #394d5c;
}

.resource-container h2 {
  font-weight: 500;
  color: #37383d;
}

.resource-container .blue-text {
  color: #37383d;
  font-size: 1.25rem;
}

.resource-container .resource-content {
  margin-top: 2em;
  margin-bottom: 3em;
}

.resource-container .resource-content h4 {
  color: #37383d;
  font-size: 1.8rem;
}

.resource-container .resource-content p {
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 575.98px) {
  .resource-container .resource-content p {
    font-size: 1rem;
  }
}

.resource-container .resource-content p .underline-link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.resource-container .resource-content p .underline-link:hover {
  color: #4ca9e0;
}

.resource-container .resource-content .resource-links-list {
  padding: 0 1em;
  margin: 1em;
}

.resource-container .resource-content .resource-links-list li {
  list-style-type: disc;
}

.resource-container .resource-content .resource-links-list li a {
  font-size: 1.25rem;
  word-break: break-all;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 575.98px) {
  .resource-container .resource-content .resource-links-list li a {
    font-size: 1rem;
  }
}

.resource-container .resource-content .resource-links-list li a:hover {
  color: #4ca9e0;
}

#selfcare-page {
  background: #f3f3f3;
  width: 100%;
  min-height: 100vh;
}

.buttons-wrapper {
  padding-top: 2em;
}

.buttons-wrapper .buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  border-top: 1px solid #37383d;
}

@media (max-width: 767.98px) {
  .buttons-wrapper .buttons-row {
    padding: 1em 0;
  }
}

@media (max-width: 575.98px) {
  .buttons-wrapper .buttons-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2em;
  }
}

.buttons-wrapper .buttons-row button {
  border: none;
  display: block;
  border: 1.5px solid transparent;
  background-color: #43b14b;
  width: 100%;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
  padding: .4em 1em;
  margin: 0 .75em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 767.98px) {
  .buttons-wrapper .buttons-row button {
    margin: 0 .5em;
    font-size: 1.2rem;
    padding: .3em .5em;
  }
}

@media (max-width: 575.98px) {
  .buttons-wrapper .buttons-row button {
    margin: 0;
  }
  .buttons-wrapper .buttons-row button:nth-child(2) {
    margin: 1em 0;
  }
}

.buttons-wrapper .buttons-row button:hover {
  color: #43b14b;
  border-color: #43b14b;
  background-color: transparent;
}

.buttons-wrapper .link-wrapper {
  padding-top: 2em;
}

.buttons-wrapper .link-wrapper h5 {
  color: #37383d;
}

.buttons-wrapper .link-wrapper span a {
  color: #37383d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.buttons-wrapper .link-wrapper span a:hover {
  color: #4ca9e0;
}

#selfcare-activities-page {
  background: #f3f3f3;
  width: 100%;
  min-height: 100vh;
}

.cards-wrapper {
  padding-top: 2em;
}

.cards-wrapper .cards-container {
  display: -ms-grid;
  display: grid;
  gap: 2em;
  -ms-grid-columns: (minmax(280px, max-content))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, -webkit-max-content));
      grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  grid-auto-rows: auto;
}

.cards-wrapper .cards-container .activity-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #43b14b;
}

.cards-wrapper .cards-container .activity-cards .card-image img {
  width: 100%;
  height: auto;
}

.cards-wrapper .cards-container .activity-cards .card-texts {
  padding: 1em;
  text-align: center;
}

.cards-wrapper .cards-container .activity-cards .card-links {
  background-color: #4ca9e0;
  padding: .5em;
  margin-top: auto;
}

.cards-wrapper .cards-container .activity-cards .card-links a {
  padding: .3em 1em;
  font-size: 1.125rem;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards-wrapper .cards-container .activity-cards .card-links a:hover {
  color: #394d5c;
}

.cards-wrapper .cards-container .activity-cards .cards-audio {
  padding: .3em 1em;
  margin-top: auto;
}

.cards-wrapper .cards-container .activity-cards .cards-audio audio {
  width: 100%;
  height: 28px;
}

.cards-wrapper .link-wrapper {
  padding-top: 2em;
}

.cards-wrapper .link-wrapper h5 {
  color: #37383d;
}

.cards-wrapper .link-wrapper span a {
  color: #37383d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards-wrapper .link-wrapper span a:hover {
  color: #4ca9e0;
}

#enrollment-page {
  background: #f3f3f3;
  width: 100%;
  min-height: 100vh;
}

#enrollment-page .main-content .enrollment-desc {
  text-align: center;
}

#enrollment-page .main-content .enrollment-desc h2 {
  font-weight: 500;
  color: #37383d;
}

#enrollment-page .main-content .enrollment-desc p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #394d5c;
  margin: 0;
}

@media (max-width: 767.98px) {
  #enrollment-page .main-content .enrollment-desc p {
    font-size: 1rem;
  }
}

#enrollment-page .main-content .enrollment-desc .hr-line {
  margin: 1.5em auto;
  border-top: 1.5px solid #394d5c;
}

.testimonial-container {
  padding-top: 3em;
}

.testimonial-container .testimonials {
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 1em;
}

.testimonial-container .testimonials h4 {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
}

.testimonial-container .testimonials h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7.5px;
  width: 100%;
  height: 2px;
  background-color: #4ca9e0;
}

.testimonial-container .testimonial-content {
  position: relative;
  padding: 1em;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 1.4em;
  color: #394d5c;
}

.testimonial-container .testimonial-content::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 9px;
  border-width: 12px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.testimonial-container .testimonial-user {
  margin-top: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-container .testimonial-user .user-image {
  width: 45px;
  height: 45px;
  margin-right: .75em;
  overflow: hidden;
}

.testimonial-container .testimonial-user .user-image img {
  border-radius: 50%;
  border: 2px solid #fff;
}

.testimonial-container .testimonial-user .user-name {
  color: #37383d;
}

#payment-page {
  background: #f3f3f3;
  width: 100%;
  min-height: 100vh;
}

#payment-page .progress-bar .progress {
  width: 33%;
  -webkit-animation: thirty 4s;
          animation: thirty 4s;
}

@-webkit-keyframes thirty {
  0% {
    width: 0%;
    background-color: #9acf86;
  }
  100% {
    width: 33%;
    background-color: #43b14b;
  }
}

@keyframes thirty {
  0% {
    width: 0%;
    background-color: #9acf86;
  }
  100% {
    width: 33%;
    background-color: #43b14b;
  }
}
/*# sourceMappingURL=app.css.map */