.footer{
  padding: 2em 0 1em 0;
  background-color: $gray-900;
  margin-top: auto;

  .logo-container{
    margin-bottom: 1em;
    .logo{
      max-width: 50%;
      height: auto;
      margin-bottom: 1em;
    }
    p{
      color: $gray-100;
    }
  }

  .links-container{
    margin-bottom: 1em;
    .condition-links{
      width: 62%;
      margin: auto;
      padding-left: 1em;
    }
    .footer-links-list{
      li{
        margin-bottom: .5em;
        a{
          display: block;
          color: $gray-100;
          transition: $link-transition;
          &:hover{
            color: $white;
          }
        }
      }
    }
  }

  .social-links{
    @include flex-end;
    align-items: flex-start;
    margin-bottom: 1em;
    .social-links-list{
      display: flex;
      li{
        margin-left: .4em;
        a{
          display: block;
          font-size: 1.6rem;
          color: $white;
          line-height: 1.2;
          padding: 0 4px;
          transition: $link-transition;
          &:hover{
            color: $blue;
          }
        }
      }
    }
  }

  .copyrights{
    text-align: center;
    padding-top: 1em;
    border-top: 1px solid $gray-100;
    p{
      font-size: .9rem;
      margin: 0;
      &:first-child{
        margin-bottom: .5em;
      }
      .additionl-resource a{
        color: $white;
      }
    }
  }

}

@media (max-width: 991.98px) {
  .footer .links-container .condition-links{
    width: 100%;
    padding-left: 0;
    margin-left: -1em;
  }
}

@media (max-width: 767.98px) {
  .footer{

    .logo-container .logo{
      width: 20%;
    }

    .links-container .condition-links{
      width: 100%;
      padding-left: 0;
      margin-left: 0;
    }

    .social-links{
      justify-content: flex-start;
      .social-links-list li{
        margin-left: 0;
        margin-right: .4em;
        &:last-child{
          margin-right: 0;
        }
      }
    }

    .copyrights p{
      font-size: .8rem;
    }

  }
}

@media (max-width: 575.98px) {
  .footer .logo-container .logo{
    width: 30%;
  }
}