.footer{
  padding: 2em 0 1em 0;
  background-color: $black;
  margin-top: auto;

  .logo-container{
    margin-bottom: 1em;
    .logo{
      max-width: 93px;
      height: auto;

      @media (max-width: $small-screen) {
        width: 80px;
      }
      @media (max-width: $extra-small-screen) {
        width: 70px;
      }

      height: auto;
      margin-bottom: 1em;
    }
    p{
      color: $gray-100;
      @media (max-width: $medium-screen){
        font-size: .9rem;
      }
    }
  }

  .links-container{
    margin-bottom: 1em;
    .condition-links{
      width: 62%;
      margin: auto;
      padding-left: 1em;

      @media (max-width: $medium-screen) {
        width: 100%;
        margin-left: -1em;
      }

      @media (max-width: $small-screen){
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
      }

    }
    .footer-links-list{
      li{
        margin-bottom: .5em;
        a{
          display: block;
          color: $gray-100;
          transition: $link-transition;
          @media (max-width: $medium-screen){
            font-size: .9rem;
          }
          &:hover{
            color: $white;
          }
        }
      }
    }
  }

  .social-links{
    @include flex-end;
    align-items: flex-start;
    margin-bottom: 1em;

    @media (max-width: $small-screen){
      justify-content: flex-start;
    }

    .social-links-list{
      display: flex;
      li{
        margin-left: .4em;
        @media(max-width: $small-screen) {
          margin-left: 0;
          margin-right: .4em;
          &:last-child{
            margin-right: 0;
          }
        }

        a{
          display: block;
          font-size: 1.6rem;
          color: $white;
          line-height: 1.2;
          padding: 0 4px;
          transition: $link-transition;
          &:hover{
            color: $blue;
          }
        }
      }
    }
  }

  .copyrights{
    text-align: center;
    padding-top: 1em;
    border-top: 1px solid $gray-100;
    p{
      font-size: .9rem;

      @media (max-width: $medium-screen){
        font-size: .75rem;
      }

      margin: 0;
      &:first-child{
        margin-bottom: .5em;
      }
      .additionl-resource a{
        color: $white;
      }
    }
  }

}