.header{
  background-color: transparent;
  padding: 0;

  .header-content{
    @include flex-between;
    align-items: center;

    .logo h4{
      margin-bottom: 0
    }

    .login-container{
      @include flex-between;
      align-items: center;
      
      .counseling{

        .direct-counseling{
          display: block;
          background-image: url('./../images/menubg.png');
          background-repeat: round;
          background-position: left;

          @media (max-width: $extra-small-screen){
            font-size: .9rem;
          }

          color: $white;
          padding: 17px;
          margin: 0;
          margin-top: 7px;
          padding-top: 6px;
        }
      }

    }

  }

}

// Sticky header class for JS
.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $blue;
  box-shadow: $header-shadow;
  z-index: 99;
}